html {
    background-color:#202225;

    color:#afafaf;
    }


body {
    margin: 3% 0%;
}

h1 {
    width: 350px;
    /*radial-gradient(white,grey, black)*/
    background: radial-gradient(rgba(128, 128, 128, 0), rgb(19, 20, 24));
    /*background-color: rgb(19, 20, 24);*/
    padding: 4px;
    border:3px solid rgba(9, 10, 16, 0.254);
    border-radius:50%;
    margin: 10px auto;

    align-content: center;
    text-align: center;
    text-transform: capitalize;
}
section {
    background-color: #36383f;
    padding: 0px 10px;
    border: 2px solid rgb(9, 10, 16);
    border-radius: 15%;
    margin: 5px 15%;

    align-content: center;
    text-align: center;
}



a {
    color: rgb(255, 145, 0);
}
a.download {
    color: rgb(235, 227, 3);
    
}

p.space {
    padding: 20px;
}

ul {
    text-align: left;
}


/*
p {
    background-color: #36383f;
    
    color: brown;
    width: 500px;
    border: 1px solid black;
    margin: 12px;
}*/




/*
html{
    height:100%;
    background: radial-gradient(white,grey, black);
  
    }
body{
  height: 100%;
  
  
    margin: auto 0;
  
    }
    header{
      margin:0;
    }
    footer{
      margin:0;
      background-color: #333;
      height: 2.5em;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }
  
  li {
      float: left;
  }
  
  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  
  li a:hover {
      background-color: #111;
  }
  
  #container{
         margin: 0 auto;
         background-color: #fefee2;
         border-left: solid;
         border-right: solid;
         margin-left: 2.5em;
         margin-right: 2.5em;
         margin-top: 1em;
         margin-bottom: 1em;
         min-height: 100%;
  
  
  }
  .center{
    text-align: center;
  }
  .logo{
  border-radius: 50%;
  height:8em;
  }
  .logo:hover{
    height:9em;
  
  }
  
  .row {
          display: flex;
          text-align: center;
  
        }
  .col {
  
      margin-left: 5em;
      margin-right: 5em;
  
          flex: 1;
          padding: 1em;
          border:solid;
          border-radius: 25%;
          box-shadow: 10px 5px 5px grey;
          margin-bottom: 1em;
          margin-top: 1em;
  
  
  
        }
  .separateur{
  
    margin: 0 auto;
    border-top: solid;
    border-top-width: 1px;
    width: 20em;
    margin-top: 5em;
    margin-bottom: 5em;
  
  }
  
  
  @media(min-width: 768px) and (max-width: 1366 px){
  
  
    html{
      height:100%;
      background: radial-gradient(white,grey, black);
  
      }
      body{
    height: 100%;
  
  
      margin: auto 0;
  
      }
      header{
        margin:0;
      }
      footer{
        margin:0;
        background-color: #333;
        height: 2.5em;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
  
    li {
        float: left;
    }
  
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
  
    li a:hover {
        background-color: #111;
    }
  
    #container{
           margin: 0 auto;
           background-color: #fefee2;
           border-left: solid;
           border-right: solid;
           margin-left: 2.5em;
           margin-right: 2.5em;
           margin-top: 1em;
           margin-bottom: 1em;
           min-height: 100%;
  
  
    }
    .center{
      text-align: center;
    }
    .logo{
    border-radius: 50%;
    height:8em;
    }
    .logo:hover{
      height:9em;
  
    }
  
    .row {
            display: flex;
            text-align: center;
  
          }
    .col {
  
        margin-left: 5em;
        margin-right: 5em;
  
            flex: 1;
            padding: 1em;
            border:solid;
            border-radius: 25%;
            box-shadow: 10px 5px 5px grey;
            margin-bottom: 1em;
            margin-top: 1em;
  
  
  
          }
    .separateur{
  
      margin: 0 auto;
      border-top: solid;
      border-top-width: 1px;
      width: 20em;
      margin-top: 5em;
      margin-bottom: 5em;
  
    }
  
  }
*/